/* Themes for the entire website */

.themeable {
transition: background-color 0.5s, color 0.25s;
}

/* Dark Theme */
.theme-dark {
  background-color:#2C2F33;
  color: #FFFFFF;
}

.theme-dark .global-hamburger {
  background: grey;
  }

.theme-dark .global-dropbtn {
  background: grey;
}
  
.theme-dark .global-menubar {
  background: black;
}


/* Light Theme */
.theme-light {
background-color: #3492AE;
  color: #FFFFFF;
}


.theme-light .global-hamburger{
  background: #CB6D51;
}


.theme-light .global-dropbtn {
  background: #CB6D51;
}


.theme-light .global-menubar {
  background: black;
}